#wrapper
  = render 'layouts/navbar'
  - if logged_in?
    #left-panel.fixed-content
      = render 'home/filters'
    #main-page
      = render 'layouts/flash'
      .row
        .header
          %i.fa.fa-camera
          Live camera
        .row-content.text-center
          %img#camera{src: 'http://192.168.1.101:9090/stream/video.mjpeg', alt: 'Something goes wrong, sorry ;('}
      .row#walked-in
        .header
          %i.fa.fa-share
          Walked in
          %span
          %span
        .row-content.text-center
          %span
      .row#walked-out
        .header
          %i.fa.fa-reply
          Walked out
          %span
          %span
        .row-content.text-center
          %span
      .row#data-table
        .header 
          %i.fa.fa-table
          Data table
        .row-content
          %table#events.row-border{cellspacing: 0}
            %thead  
              %tr
                %th No.
                %th Direction
                %th Date
                %th Photo
            %tbody
              = render @events
      .row
        .header 
          %i.fa.fa-bar-chart
          Chart
          %span#points.chart-type Points
          %span#line.chart-type Line
          %span#bar.chart-type.active Bar
        .row-content
          #chart-wrapper
            %canvas#chart
  - else
    #main-page.non-logged
      = render 'layouts/flash'
      .row
        %p.header Live camera
        .row-content.text-center
          %img{src: 'http://192.168.1.101:9090/stream/video.mjpeg', alt: 'Something goes wrong, sorry ;('}
  
#photoModal.modal.fade{role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-body.text-center
        %img
      .modal-footer
        %button.btn.grey-btn{type: "button", "data-dismiss": "modal"} Close
        