#wrapper
  = render 'layouts/navbar'
  - if logged_in?
    #left-panel.fixed-content
      = render 'home/filters'
    #main-page
      = render 'layouts/flash'
      .row
        %p.header
          %i.fa.fa-camera
          Live camera
        .row-content.text-center
          %img{src: 'http://192.168.1.137:9090/stream/video.mjpeg', alt: 'Something goes wrong, sorry ;('}
      .row
        %p.header 
          %i.fa.fa-table
          Data table
        .row-content
          %table#events.row-border{cellspacing: 0}
            %thead  
              %tr
                %th No.
                %th Direction
                %th Date
                %th Photo
            %tbody
              = render @events
      .row
        %p.header 
          %i.fa.fa-bar-chart
          Chart
          %span#points Points
          %span#line Line
          %span#bar Bar
        .row-content
          #chart-wrapper
            %canvas#chart
  - else
    #main-page.non-logged
      = render 'layouts/flash'
      .row
        %p.header Live camera
        .row-content.text-center
          %img{src: 'http://192.168.1.137:9090/stream/video.mjpeg', alt: 'Something goes wrong, sorry ;('}