= csrf_meta_tags
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
= stylesheet_link_tag    '//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css'
= javascript_include_tag '//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js'
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}